code:not([class*="language-"]) {
  @apply bg-gray-100 px-2 py-1 text-sm text-gray-600;
}

code[class*="language-"],
pre[class*="language"] {
  @apply text-gray-600;
}

pre[class*="language"],
:not(pre) > code[class*="language-"] {
  @apply bg-gray-100;
  max-width: calc(100vw - 2rem);
}

/* Code blocks */
pre[class*="language"] {
  @apply overflow-auto rounded-sm py-4 px-6 text-sm;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  @apply whitespace-normal rounded-sm px-2 py-1;
}

/* Hide the built in language display, as we have our own */
pre[class*="language"] + .toolbar {
  @apply hidden;
}

.hljs-comment,
.hljs-quote {
  @apply whitespace-pre-wrap text-gray-500;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  @apply text-fuchsia-700;
}

.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  @apply text-red-600;
}

.hljs-attribute {
  @apply text-blue-500;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  @apply text-fuchsia-700;
}

.hljs-title,
.hljs-section {
  @apply text-blue-500;
}

.hljs-keyword,
.hljs-selector-tag {
  @apply text-fuchsia-700;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
